.menu-head {
    color: white;
    margin: 12px 20px 24px;
}

.menu-count {
    font-size: 12px;
    font-weight: normal;
}

.ant-menu-vertical .ant-menu-submenu-title {
    padding-left: 0px !important;
    background: red;
}

.ant-menu.ant-menu-dark .ant-menu-sub {
    background: var(--dark) !important;
}

.ant-menu-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
    padding-left: 40px !important;
    width: 100%;
}

.ant-menu-submenu-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: white;
    padding-left: 20px !important;
    /*background-color: var(--dark)  !important;*/
}

.ant-menu-item-selected {
    background-color: var(--greyblue)  !important;
    color: var(--dark) !important;
    height: 40px;
}

.menu-container {
    padding-top: var(--header-height);
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: var(--menu-width) !important;
    background: var(--dark) !important;
    position: fixed;
    overflow-y: scroll;
}

@media (max-width: 768px){
    .menu-container {
        visibility: hidden;
        width: 0px;
    }
}
