.ant-breadcrumb > span:last-child {
    font-weight: 700;
}

.ant-breadcrumb-separator {
    margin-right: 8px;
    margin-left: 8px;
}

.ant-breadcrumb {
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.45);
}

.breadcrumb-container {
    padding: 10px !important;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.breadcrumb-btn-left {
    padding: 0px;
    margin: 0px;
}
