.ant-breadcrumb > span:last-child {
    font-weight: 700;
}

.ant-breadcrumb-separator {
    margin-right: 8px;
    margin-left: 8px;
}

.ant-breadcrumb {
    padding: 10px;
    background: #FFFFFF;
    width: 100%;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.45);
}
