:root {
    --greye5: #e5e5e5;
    --primary: #6E6EFF;
    --header-height: 48px;
    --menu-width: 200px;
    --app-height: 100%;
    --dark: #141E28;
    --greyblue: #D8E3FF;
}

.container {
    width: 100vw;
    min-height: var(--app-height);
}

.menu-temp-content {
    background: var(--greye5);
    width: 100vw;
    min-height: var(--app-height);
    padding-top: var(--header-height);
    padding-left: var(--menu-width);
    top: var(--header-height);
    overflow: hidden;
    overflow-y: auto;
}

.menu-header {
    height: var(--header-height);
    background: var(--primary);
    display: flex;
    position: fixed;
    z-index: 100;
    align-items: center;
    width: 100vw;
    padding: 0px 20px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.menu-child {
    min-width: 824px;
    min-height: 100%;
}

@media (max-width: 768px){
    .menu-temp-content {
        margin-left: 0px;
        width: 100vw;
    }
}
